@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}


h1,h2,h3,h4,h5,h6{
    color:#252525;
}


a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
    
}
.navbar-brand{
    color: #252525 !important;
}

.mov{
    margin-top: 50px;
}

.nav-link{
    color: #252525 !important;
}

.bg{
    background-color: #E8EBE4;
}
.text{
  margin-top: 75px;
}
.text h1{

    font-style: normal;
    font-weight: 400;
    font-size: 60px;
}

.text h1 span{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
}


.text p{
    margin-top: 40px ;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #777171;
    
}

.button{
    margin:80px 0;
}

.button ul{
    padding: 0;
    display: inline-flex;
}

.button li{
    padding-right:40px  ;
}

.button a[href*=contact]{
    padding: 20px 40px;
    text-decoration: none;
    background-color:  #440381;
    color: #E8EBE4;
}

.button a[href*=contact]:hover{
    padding: 20px 40px;
    text-decoration: none;
    background-color:  #252525;
    color: #E8EBE4;
    transition: 0.5s;
}


.button a[href*=portfolio]{
    padding: 20px 40px;
    text-decoration: none;
    border: 1.5px solid #252525;
    color: #252525;
}

.home-social-media ul{
   padding:0px ;
   display: inline-flex;
}

.home-social-media li{
    padding-right: 20px;
}

.home-social-media a{
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #440381;
    color: #E8EBE4;
}
.home-social-media a:hover{
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #252525;
    color: #E8EBE4;
}


.text2{
    margin: 100px 0px;
}
.text2 h2{
 
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

.text2 p{
    margin-top: 20px ;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #777171;
}

.text2 p span{
    padding-left: 20px;
    font-size: 30px;
}

.text2 ul{
    margin-top: 40px;
    padding:0px ;
    display: inline-flex;
}

.skills li{
    padding-right: 20px;
}

.skills i{
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #440381;
    color: #E8EBE4;
}





